<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>face recognition</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
  <main style="margin-bottom: 2rem;margin-top: 10rem; display: grid;align-items: center;justify-items: center;">
    <section style="grid-column: 1;display: grid;row-gap: 1rem;column-gap: 1rem;">
      <button type="button" class="btn btn-primary" style="grid-row: 1;" id="initCamera">
        <img src="https://cdn-icons-png.flaticon.com/512/1451/1451468.png" width="24" height="24" /> Start camera
      </button>

      <button type="button" class="btn btn-info" style="grid-row: 1;" id="stopCamera">
        <img src="https://cdn-icons-png.flaticon.com/512/4595/4595752.png" width="24" height="24" /> Stop camera
      </button>

      <button type="button" class="btn btn-secondary" id="trainModel">
        <img src="https://cdn-icons-png.flaticon.com/512/2436/2436874.png" width="24" height="24" /> Sign up
      </button>

      <button type="button" class="btn btn-dark" id="detectUser">
        <img src="https://cdn-icons-png.flaticon.com/512/4663/4663983.png" width="24" height="24" /> Sign in
      </button>

      <input class="form-control" style="grid-column-start: 1;grid-column-end: 3;" type="text" name="label"
        id="trainLabel" placeholder="username">
    </section>
    <video style="grid-column: 2;" id="videoSource" width="640" height="480" autoplay muted playsinline></video>
  </main>
  <aside style="font-size: 5rem;margin-left: 40rem;color: red;font-weight: bold;" id="loginError">
    <%= errorMsg %>
  </aside>
  <canvas style="display: none;" id="imageBuffer"></canvas>

  <% if (errorMsg) { %>
    <script>
      setTimeout(() => document.getElementById('loginError').innerHTML = '', 2000);
    </script>
    <% } %>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
      <script src="index.js"></script>
</body>

</html>