<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>face recognition</title>
</head>

<body>
    <main style="height: 100vh; display: grid;align-items: center;justify-items: center;">
        <section style="font-size: 5rem;margin-left: 2rem;">
            Welcome: <span style="display: inline-block;" ><%= username%></span>
        </section>
        <section>
            <form action="/logout" method="post">
                
                <button type="submit" class="btn btn-dark " style="display: flex;gap: 1rem">
                    <img src="https://cdn-icons-png.flaticon.com/512/4663/4663983.png" width="24" height="24" /> 
                    <span >Logout</span>
                </button>

            </form>

        </section>
    </main>
   
</body>

</html>